.MainHead{
    margin-top: 6.5rem;
}

.masterfirstMain{
    display: flex;
    width: 70%;
    margin: auto;
    gap: 5rem;
   
}

.masterfirstmini1{
    width: 47%;
}

.masterH1{
    color: #2E91EB;
    font-weight: 500;
    font-size: xx-large;
}

.firstSpan1{
    font-size: medium;
}

.SpanDiv1{
    line-height: 2rem;
    word-spacing: 0.1rem;
}

.secondSpan2{
    font-weight: bold;
    font-size: larger;
}

.enrolButton{
    background-color: #00A6EB;
    color: white;
    padding: 10px 40px;
    font-size: medium;
    border: 1px solid #00A6EB;
    border-radius: 5px;
    margin-top: 2rem;
}

.masterfirstmini2{
    margin-top: 1rem;
}

.masterH1Div{
    margin-top: 2rem;
    margin-bottom: 0.5rem;
}


.secondMain1{
    width: 73%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    column-gap: 3rem;
    row-gap: 1rem;
    margin-top: 4rem;
    /* margin-bottom: 5rem; */
}

.secondMiniAll{
    width: 43%;
    height: 5rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 2rem;
    /* box-shadow: 0 0 5px 0 ; */
    /* border: 1px solid #faeaea; */
    border-radius: 7px;
    padding-left: 2rem;
}

.secondMini1{
    border-top: 1px solid #faeaea;
    border-left: 1px solid #faeaea;
   border-bottom: 4px solid #DF3897;
   border-right: 4px solid #DF3897;
}

.secondMini2{
    border-top: 1px solid #faeaea;
    border-left: 1px solid #faeaea;
    border-bottom: 4px solid #0398D3;
    border-right: 4px solid #0398D3;
}

.secondMini3{
    border-top: 1px solid #faeaea;
    border-left: 1px solid #faeaea;
    border-bottom: 4px solid #7914A3;
    border-right: 4px solid #7914A3;
}

.secondMini4{
    border-top: 1px solid #faeaea;
    border-left: 1px solid #faeaea;
    border-bottom: 4px solid #EB9A00;
    border-right: 4px solid #EB9A00;
}

.boxImage{
 width: 3rem;
 height: 3rem;
}

.secondMiniText{
    font-weight: 600;
}

.HeadingDivMain{
    width: 100%;
    margin: auto;
    text-align: center;
    padding-top: 0.5rem;
    margin-top: 5rem;
}

.HeadingDivSpan{
    margin: auto;
   font-size: 1.8rem;
}


.otherDiv{
    width: 100%;
    text-align: center;
    margin-top: 4rem;
    margin-bottom: 4rem;
}


.other{
    font-size: 1.5rem;
}



.founderImage{
    width: 5rem;
    height: 5rem;
}

.founderComImg1{
    width: 10.5rem;
    height: 2.5rem;
}

.founderComImg2{
    width: 10.5rem;
    height: 2.5rem;
}

.founderComImg3{
    width: 10.5rem;
    height: 2.5rem;
}


.founderMainDiv{
    display: flex;
    justify-content: space-evenly;
    width: 75%;
    margin: auto;
    /* gap: 1rem; */
    padding: 0.5rem;
    border: 1px solid rgb(245, 233, 233);
    margin-bottom: 4rem;
}


.founderMiniDiv1{
    display: flex;
    /* width: 20%; */
    gap: 1rem;

}

.founderName{
    font-weight: bold;
    font-size: medium;
}

.founderComName{
    font-size: small;
}

.FounderSpanDiv{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.2rem;
}

.MasterHeadingDiv{
    width: 100%;
    text-align: center;
    margin-bottom: 3rem;
}

.MasterHeading{
    font-size: 2rem;
}




.MainPictureDiv{
    display: flex;
    width: 69%;
    margin: auto;
    gap: 2rem;
}

.MainPictureRightDiv{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.MiniInnerDiv{
    display: flex;
    gap: 1.5rem;
}

.MiniInnerDiv11{
    display: flex;
    gap: 1.5rem;
    margin-left: 1.2rem;
}

.InnerMDiv{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    
}

.InnerMDiv1{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    
}

.circleImageDiv{
    height: 4.2rem;
    width: 4.2rem;
    border-radius: 50%;
    background-color: rgb(248, 244, 244);
    display: flex;
    align-items: center;
    justify-content: center;
}

.InnerMDivHeadSpan{
    font-size: small;
    font-weight: bold;
    margin-bottom: 0.8rem;
}

.InnerMDivNormalSpan{
    font-size: small;
    margin-bottom: 0.3rem;
}

.MainMiddleImageDiv{
    margin-top: 5rem;
}

.WordMainDiv{
    width: 72%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    margin-top: 3rem;
    border-top: 1px solid #C2C2C2;
    border-bottom: 1px solid #C2C2C2;
    margin-bottom: 3rem;
    padding-top: 3.5rem;
    padding-bottom: 3.5rem;
}

.BlueBigDiv{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.8rem;
}

.BlueBig{
    color: #00A6EB;
    font-size: 3rem;
    font-weight: bold;
}

.BlueDownDiv{
    font-weight: 500;
    font-size: large;
}

.CrackDiv{
    width: 100%;
    margin: auto;
    text-align: center;
}

.CrackSpan{
    
    font-size: 1.8rem;
    font-weight: 500;
    letter-spacing: 0.1rem;
   
}

.OctaImageDiv{
    width: 75%;
    margin: auto;
    text-align: center;
}

.OctaImage{
    width: 100%;

}

.CrackDiv1{
    width: 100%;
    margin: auto;
    text-align: center;
    margin-top: 3rem;
    margin-bottom: 2rem;
}


.secondMain12{
    width: 73%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    column-gap: 3rem;
    row-gap: 1rem;
    margin-top: 4rem;
    /* margin-bottom: 5rem; */
}

.secondMiniAll12{
    width: 36%;
    height: 6.2rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 2rem;
    /* box-shadow: 0 0 5px 0 ; */
    /* border: 1px solid #faeaea; */
    border-radius: 7px;
    padding-left: 2rem;
    
}


.boxImage12{
 width: 4rem;
 height: 4rem;
}

.secondMiniText12{
    font-weight: 600;
    font-size: 0.9rem;
}

.LastMainSepDiv{
    display: flex;
    width: 80%;
    margin: auto;
    margin-bottom: 4rem;
    
}

.StarImageDiv{
    margin: auto;
    margin-top: 5rem;
    /* margin-left: 5rem; */
    margin-right: -7rem;
}

.StarImage{
   width: 11rem;
}



.slider-item {
    position: relative;
  width: 5rem;
  }
  
  .custom-arrows {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    justify-content: space-between;
    width: 70%;
  }
  
  
  
  .arrow-left,
  .arrow-right {
    width: 40px;
    height: 40px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
  
  .arrow-left:hover,
  .arrow-right:hover {
    background-color: rgba(0, 0, 0, 0.7);
  }
  
  .arrow-left::before {
    content: '<';
  }
  
  .arrow-right::before {
    content: '>'; 
  }
  
  
  /* .slick-dots {
    text-align: center;
    margin-top: 10px; 
  }
  
  .slick-dots li {
    display: inline-block;
    margin: 0 5px; 
  }
  
  .slick-dots li button {
    font-size: 12px; 
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: #333; 
    opacity: 0.5; 
  }
  
  .slick-dots li.slick-active button {
    opacity: 1; 
  } */

  .sliderClass{
    height: 10em;
    width: 10em;
  }


  .MainSelectBatchDiv{
    width: 98%;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-top: 1px solid #C2C2C2;
    border-bottom: 1px solid #C2C2C2;
    padding-top: 4rem;
    padding-bottom: 4rem;
  }

  .ButtonMayMain{
    display: flex;
    gap: 1rem;
   
  }

  .EnrollMayMainDiv{
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }


  .InsideMayDIv{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 2rem;
    padding-right: 2rem;
    background-color: white;
    box-shadow: 1px 1px 5px 5px rgb(240, 237, 237);
  border-bottom: 6px solid #00A6EB;
border-radius: 5px;
}

.may1{
    color: #00A6EB;
    font-weight: bold;
    font-size: large;
}

.Enrolment{
    font-size: medium;
}

  .SelectBatchSpan{
    font-size: large;
  }

  .EnrollMayBB{
    background-color: #2D90EB;
    padding: 10px 20px;
    border: none;
    color: white;
    font-weight: 500;
    font-size: medium;
    border-radius: 5px;
  }

  .Rupee25{
    color: #00A6EB;
    font-size: 2rem;
    font-weight: bold;
  }

  .fs-container2{
    background-color: rgb(242, 242, 242);
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    min-height:150px;
    /* border: 1px solid black; */
 }
 .fs-container2-item1{
   font-size: 20px;
   padding-top: 60px;
   margin-right: 20px;
   color: #707070;
 }
 .fs-container2-item2{
   background-color: white;
   padding-left: 20px;
   border-radius: 5px;
   text-align: left;
   height:80px;
   font-size: 24px;
   padding-top: 1rem;
   margin-top: 40px;
   width:200px;
   margin-right: 20px;
   color: #707070;
 }
 .fs-container2-item3{
   
   font-size: 16px;
   padding-top: 10px;
  color: #F78077;
  
 }
 .fs-container2-item4{
   height:25px;
   border: none;
   border-radius: 5px;
   font-size: 18px;
   background-color: #F78077;
   color: white;
   margin-right: 20px;
 }
 .fs-container2-item5{
   font-size: 20px;
   padding-top: 40px;
   color: #F78077;
   padding-bottom: 30px;
 }
 