.navmaindiv{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 5rem;
    width: 100%;
    border-bottom: 1px solid #F6F6F6;
    box-shadow: inset 0px -5px 5px -5px rgba(0, 0, 0, 0.2);
    background-color: #FFFFFF;
    position: fixed;
    top: 0;
    z-index: 1;
   
}

.otherRoutes{
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

.elevation{
  font-size: 0.8rem;
}

.loginDiv{
  margin-left: auto;
  margin-bottom: 1rem;
}


#prepimage{
    height: 150px;
    width: 150px;
}

.NavLinks{
    text-decoration: none;
    color: #707070;
}

.NavLinks:hover{
    color: black;
}

.Mcontainer{
    display: flex;
    flex-direction: column;
    width: 35%;
}


/* .nav-bar-lists{
    position: absolute;
    top:53px;
    left:37%;
    
} */

.dropdownContainer {
    float: left;
    overflow: hidden;
    letter-spacing: 0.1ch;
  }
  .dropdownContainer .DropButton {
    font-size: 13px;  
    border: none;
    outline: none;
    background-color: white;
    color: rgb(103, 103, 103);
    letter-spacing: 0.1ch;
    font-weight: 400;
    margin: 0;
    margin-right: 9px;
  }
  
  
  .SubRoutes a {
    float: none;
    color:grey;
    padding: 12px 14px;
    text-decoration: none;
    display: block;
    text-align: left;
    font-weight: 400;
  }
  
  .SubRoutes a:hover {
    color:rgb(4, 178, 253);
    font-size: 14px;
    text-shadow: rgb(0, 177, 253) 0.5px 1px;
  }

  .SubRoutes {
    display: none;
    position: absolute;
    font-size: 14px;
    background-color:white;
    min-width: 255px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdownContainer:hover .SubRoutes {
    display: block;
  }

  .button2{
    border: 2px solid #FC31A4;
    background-color: #FC31A4;
    /* color: white; */
    border-radius: 5px;
    cursor: pointer;
    padding: 5px 10px;
    
}

.loginNav1{
  text-decoration: none;
  color: #FC31A4;
}

.loginNav2{
  text-decoration: none;
  color: white;
}

.loginNav1:hover{
    color: black;
}

.button1{
    border: 2px solid #FC31A4;
    
    background-color: white;
    border-radius: 5px;
    cursor: pointer;
    padding: 5px 10px;
    margin-right: 1rem;
    
}

.loginNav2:hover{
    color: black;
}

.requestMainDiv{
  background-color: #00A6EB;
  height: 2rem;
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  color: white;
  /* display: flex;
  justify-content: center; */
  font-size: medium;
  padding-top: 0.5rem;
  z-index: 1;
  margin-top: 1rem;
}

.requestText{
  text-decoration: underline;
}





.dropbtMain{
  /* margin: auto; */
  margin-top: 1rem;
  /* margin-right: 2rem; */
  /* width: 100%; */
}

.dropdown2 {
  /* float: left; */
  /* overflow: hidden; */
  letter-spacing: 0.1ch;
  cursor: pointer;
  
}

.dropdown2 .dropbtn2 {
  font-size: 13px;  
  border: none;
  outline: none;
  height: 28px;
  
  background-color: white;
  color: rgb(103, 103, 103);
  letter-spacing: 0.1ch;
  font-weight: 400;
  
  margin: 0;
  /* margin-right: 9px; */
}

.text-round-style{
  /* height:28px;
  width: 28px;
  border-radius: 20px;
  background-color: #03A6EC;
  color:white;
  display: inline-block;
  font-size: 20px; */

  font-size: 18px;
  border: 1px solid #03A6EC;
  background-color: #03A6EC;
  border-radius: 50%;
  padding: 5px 11px;
  text-align: center;
  color: white;
  
}
.text-normal-style{
  height:28px;
  width: 28px;
  margin-left: 10px;
  font-size: 18px;
  /* display: inline-block; */
  color: #6CA1EC;
  
}

.dropdown-content2 {
  display: none;
  position: absolute;
  font-size: 14px;
  background-color:white;
  /* width: 2rem; */
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 5;
  margin-top: 1.51rem;
}

.dropdown-content21 {
  display: none;
  position: absolute;
  font-size: 14px;
  background-color:white;
  /* width: 2rem; */
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 5;
  margin-top: 1.51rem;
 
}

.dropdown-content2.show {
  display: block;
}

.dropdown-content21.show {
  display: block;
}

.dropdown-content2 a {
  float: none;
  
  padding: 12px 14px;
  text-decoration: none;
  display: block;
  text-align: left;
  font-weight: 400;
}

.dropdown-content21 a {
  float: none;
  
  padding: 12px 14px;
  text-decoration: none;
  display: block;
  text-align: left;
  font-weight: 400;
}
.navbar-name-size{
  height: 50px;

}

/* .dropdown-content2 a:hover {
  color:rgb(4, 178, 253);
  font-size: 14px;
  text-shadow: rgb(0, 177, 253) 0.5px 1px;
}

.dropdown2:hover .dropdown-content2 {
  display: block;
} */

.navbar-logout-btn1{
  border:none;
  /* height: 35px; */
  /* padding: 10px 10px; */
  width: 13.5rem;
  height: 3.5rem;
  border-bottom: 1px solid #CECECE;
  background-color: #FFFFFF;
  font-size: 0.9rem;
  
}

.navbar-logout-btn1 a{
  color: #02215b;
}

.navbar-logout-btn12{
  border:none;
  /* height: 35px; */
  padding: px 10px;
  width: 13.5rem;
  height: 3.5rem;
  border-bottom: 1px solid #CECECE;
  background-color: #FFFFFF;

  font-size: small;
}

.navbar-logout-btn12 a{
  color: #FF8787;
}

.ImageandMy{
  display: flex;
  gap: 0.5rem;
  /* margin: auto; */
}

.ImageandMy img{
  width: 1.8rem;
  height: 1.8rem;
}